@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');



.signoutPage {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    margin-top: 70px;
    height: 100vh;
    overflow: hidden;
    display: grid;
 }

 .link{
   display: block;
   padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 4em);
   color: white;
   font-size: clamp(2em, 5vw, 7em);
   text-decoration: none;
   font-family: 'Mulish', sans-serif;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   position: relative;
   
 }


 

 .signoutGradient{
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .link:nth-child(2){
   border-bottom:  1px solid rgba(255, 255, 255, 0.5);
 }

 .link:before{
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 0%;
   background: linear-gradient(to right, transparent, green, yellow);
 }

 .link:hover:before{
   width: 100%;
   transition: width 600ms ease;
 }

 .intro{
   color: white;

  
   
 }

.signinPage{
  margin: 0;
  padding: 0;
  background-color: #41B3A3;
  margin-top: 70px;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items:  center;
}


.usernamepicking{
  color: white;
  place-self: center;
  margin-bottom: 350px;
  display: grid;
  font-family: 'Mulish', sans-serif;
}

.usernamepicking > form{
  display: grid;
}

.choosebutton {
  width: 75%;
}

.usernamepicking > h3 {
  place-self: center;
}


.introContainer{
  display: grid;
  
  
}

.introContainer > h1{
  padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 4em);
  color: white;
  font-size: clamp(2em, 4vw, 7em);
}

.magic{
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    purple, 
    violet,
    pink,
    purple
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}
 



