@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

*{
  box-sizing: border-box;
  
}

body{
  margin: 0px;
  padding: 0;
  margin-top: 50px;
}

::-webkit-scrollbar {
  display: none;
}

.loader {
  border: 10px solid beige;
  border-top: 10px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

main {
  padding: 1rem 10vw;
  border-color: rgb(10, 10, 10);  
  background-color: #41B3A3; 
  
}

.navbar {
  border-color: rgb(10, 10, 10); 
  height: 70px;
  width: 100%;
 
  
  position: fixed;
  top: 0;
  padding: 0;
  font-weight: bold;
  border-bottom: 1px solid gray;
  z-index: 99;
  background-color: #41B3A3;
  margin: 0;
  border-width: 0;
  color: #E27D60;
  
}




.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  color: #E27D60;
  font-family: 'Mulish', sans-serif;
  
  position: relative;
  left: 100px;
  justify-self: center;
  font-size: 20px;
}


 

li{
  text-align: unset;
  list-style-type: none;
  cursor: pointer;
  
 }

 .navbar ul{
  line-height: 40px;
 }


.navbar button {
  color: white;
  background-color: #41B3A3;
  border: none;
  outline: none;
  cursor: pointer;
  
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  right: 150px;
}

.navbar li {
  
  font-family: 'Mulish', sans-serif;
  
  
  
}

.signup {
  margin-top: 100px;
}

.signinbottoms{
  width: 400px;
  height: 50px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  place-self: center;
  margin-bottom: 500px;
  font-family: 'Mulish', sans-serif;
  
}

.textlogo {
  color: #E27D60;
  font-size: 40px;
  font-family: 'Mulish', sans-serif;
}

.btn-google > img {
  width: 15px;
  float: left;
  margin-left: 2px;
}

.btn-signout {
  margin-top: 50%;
}

.card {
  
  margin: 1rem 0;
  
  border: 1px solid white;
  color: white;
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
  
  
}

.card{
  cursor: pointer;
}

.animate{
  transition: all 0.2s ease-in-out;
}

.animate:hover {
  transform: scale(1.1);
}

.adminindex > .card{
  width: 50%;
}



.box {
  color: white;
}

.thefeed{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-template-rows: 400px 400px 400px;
  grid-column-gap: 10px;
}



:root{
  --blue: rgb(61, 90, 254);
  --light-blue: rgb(33, 150, 243);
}

.feedimage {
  
  width: 100%;
  z-index: 0;
  margin: 0px;
  background-size: cover;
  overflow: hidden;
}

.info {
  z-index: 2;
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  margin-top: 10px;
}

.toolname {
 margin: 0;
 order: -1;
}

.theimage{
  overflow: hidden;

}

@media only screen and (max-width: 550px){
  .thefeed {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

}

.startdate > p {
  color: white;
}

.enddate > p {
  color: white;
}

.exchangefor > label {
  color: white;
}

.isitpublished{
  color: white;
}

.dateinfo > p{
  margin: 1px;
}

.upload-snippet {
  overflow: hidden;
}

.card > p > img {
  overflow: hidden;
  
}

.manageposts {
  color: white;
  max-height: 100px;
}

.adminindex {
  /* margin: 0;
  padding: 0; */
  background-color: #41B3A3;
  
  /* overflow: hidden; */
  display: grid;
  /* grid-auto-rows: minmax(0, auto); */
  grid-template-rows: 1fr 5fr;
  gap: 20px;
  height: 100vw;
  place-self: center;
  
  
}

form{
  margin-top: 70px;
}


#map{
  color: white;
}

.map-container {
  width: 500px;
  height: 500px;
}

.locsearch {
margin-top: 20px;
margin-bottom: 20px;
}


#address{
  color: white;
}

.card-info{
  display: grid;
  place-content: center;
  place-items: center;
  border: none;
}

.showfilters{
  background-color: #41B3A3;
 color: white;
}

.clearfilters{
  position: relative;
  right: 200px;
}

.clearfilters > button{
  color: white;
  background-color: #41B3A3;
  position: absolute;
  bottom: 0px;
  padding: 5px;
}

.popupwindow{
  border-color: #41B3A3;
  
}



.searchbarfilter{
  margin-top: 10px;
}

.buysell{
  margin-top: 10px;

}

.box{
  margin-top: 10px;
}

.popupwindow > button{
  color: white;
  background-color: #41B3A3;
  padding: 5px;
}

.filters{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vh;
}

.clearfilters{
  right: 0;
}

.btn-green{
  color: white;
  background-color: #41B3A3;
  padding: 5px;
  
}

.btn-red{
  color: white;
  background-color: #41B3A3;
  padding: 5px;
}

.btn-blue{
  color: white;
  background-color: #41B3A3;
  padding: 5px;
}

section > .card > p > img{
  height: 100%;
  width: 100%;

}

.buysellfilter{
  color: white;
}


.logo-name{
  font-family: 'Rubik', sans-serif;
  
  font-weight: 400;
  background: linear-gradient(
    to right,
    purple, 
    violet,
    pink, 
    purple
  );
  -webkit-background-clip: text;
  white-space: nowrap;
}

:root {  
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

.userProfilePage{
  background-color: #41B3A3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-template-rows: 400px 400px 400px;
  grid-column-gap: 10px;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.card-info > h2 > .magic > .magic-text{
  background-size: 200%;
  animation: background-pan 3s linear infinite;
  font-weight: 400;
  font-size: 2vw 3vh;
  background: linear-gradient(
    to right, 
    var(--purple), var(--violet), var(--pink), var(--purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.card-info > h2 > .magic{
  display: inline-block;
  position: relative;


}

@keyframes scale{
  from, to{
    transform: scale(0);
  }
  50% {
    transform: scale(1)
  }
}

.card-info > h2 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
  animation: scale 700ms ease forwards;
}

.card-info > h2 > .magic > .magic-star > svg{
  display: block; 
  opacity: 0.7;

}

.card-info > h2 > .magic > .magic-star > svg > path{
  fill: var(--violet)
}


.bywhom {
  text-decoration: none;
  color: black;
}








 








