
.loader {
  border: 10px solid var(beige);
  border-top: 10px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: slin 2s linear infinite;

}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.card card-info{
  margin-top: 100px;
}